## data from https://www.kaggle.com/code/zanjibar/million-datacheck
Test 100 millon data to read
test with pc I5 gen 2 ram 16gb 
1 min 10 sec

In [3]:
import dask.dataframe as dd
import time

# Start the timer
start_time = time.time()

# Read the CSV using Dask
df = dd.read_csv("H:\\archive\\custom_1988_2020.csv")

# Compute the total number of rows
total_rows = df.shape[0].compute()

# Stop the timer
end_time = time.time()

# Calculate and print the elapsed time
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")
print(f"Total number of rows: {total_rows}")

Time taken: 69.55 seconds
Total number of rows: 113607321

In [4]:
df.head()

   198801  1  103  100  000000190  0  35843  34353
0  198801  1  103  100  120991000  0   1590   4154
1  198801  1  103  100  210390900  0   4500   2565
2  198801  1  103  100  220890200  0   3000    757
3  198801  1  103  100  240220000  0  26000  40668
4  198801  1  103  100  250410000  0      5   8070